<%# отвечает за внешний вид вкладок %>
<!DOCTYPE html>
<html>
	<head>
		<title>Sinatra + Twitter Bootstrap</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<script src="/vendor/jquery-1.9.1.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/app.js"></script> <%# подключение app.js общий файл скрипт %>

	</head>
	<body>
		<div class="container">

			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">My Website</a>
			  </div>
			  <div class="navbar-collapse collapse">
			   <%# Тег <ul> указывает на ненумерованный список <li> элементы списка %>
			    <ul class="nav navbar-nav">
			      <li><a href="/blabla">lool</a></li>  
				   <%#href="/blabla" то что в кавычках после слеша является адресом,ссылкой с помощью которого
				  мы обращаемся к get или post, которые находятся в основном файле app.rb %>
				  <%#  как и в html href='#' ссылка, только в html через октоторп #, в erb через слэщ /  %>
			      <li><a href="/something">Something</a></li> <%#то что за тегом, название нашей ссылки то как пользователь будет видеть никуда не ссылкается ! %>
			      <li><a href="/contacts">Contacts</a></li>
			      <li><a href="/about">About</a></li>
			    </ul>
			  </div><!-- -->
			</nav>

			<div>
			      <%if @error && @error.length > 0 then %>
			          <div class="alert alert-danger"><%=@error%></div>
			      <% end %>
			      <%= yield %>
			</div>

	</div>

  </body>
</html>
``